.btn.btn-info#slide
  %span.glyphicon.glyphicon-th-list
%h1
  Name:
  = @patient.firstName 
  
  = @patient.lastName
  %br
%h3 List of meds
%ul
  - @patient.meds.each do |med|
    %li.btn.btn-primary{class: "med-#{med.id}"}
      = med.name
      |
      = med.direction
      |
      = link_to "Delete", 'javascript:void(0);', class: "delete-med", med_id: med.id