%h1
  Name:
  = @hospital.name
  %br
  Location:
  = @hospital.location
  %br
%h3 List of patients
= link_to "New patient", new_hospital_patient_path(@hospital), remote: true
%ul
  - @patients.each do |patient|
    %li{class: "patient-#{patient.id}"}
      = patient.name
      |
      = patient.location
      |
      = link_to "Patients Meds", patient_patient_meds_path(@hospital, patient)
      |
      = link_to "Delete", 'javascript:void(0);', class: "delete-patient", patient_id: patient.id